*.jsonl
*.pyc
**/.DS_STORE
**/*.ipynb_checkpoints
**/*.bak
**/*.png
Data_Scrape_Yoga/yoga/un-availability_data.txt
Data_Scrape_Yoga/yoga/log.txt
*/data_test
Entity Linking/Data_KG_Creation/exercise - Copy.csv
